.block {
  position:absolute;
  background-color:#abc;
  left:50px;
  width:90px;
  height:90px;
  margin:5px;
}
.bomb {
  position:absolute;
  background-color:blue;
  left:250px;
  width:40px;
  height:40px;
  margin:5px;
}
